* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(246, 242, 235);
}

main {
  padding: 1rem 4rem;
}

.sections {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  padding: 2rem 0;
  text-transform: capitalize;
  font-family: times;
}
